/*Image of associations in shop*/
.global_container img{
    height: auto;
    margin-top: 7px;
}
/*All text in the associations page*/
p{
    height:100%;
    text-align: center;
}

/*///////////////////////////////////*/
/*									 */
/*		      MEDIA QUERIES			 */
/*			    Tablet				 */
/*///////////////////////////////////*/

@media (min-width: 640px) {

    .global_container{
        margin:2px;
        }
}

/*///////////////////////////////////*/
/*									 */
/*		      MEDIA QUERIES			 */
/*			    Computer			 */
/*///////////////////////////////////*/

@media (min-width: 1200px) {
.img{
     display: block;
    width: 100%;
    height: auto;
        }

.global_container{
text-align: center;
    }

.global_container .container{
    display: inline-block;
    width: 25%;
    margin: 50px;
    margin-top: 50px;
    padding:5px;
            }
}

