.global_container .events{
    height: auto;
    margin-top: 7px;
}

p{
    height:100%;
    text-align: center;
}

/*///////////////////////////////////*/
/*									 */
/*		      NAVIGATION BAR		 */
/*									 */
/*///////////////////////////////////*/

#container_nav{
    width: 100%;
    margin-top: 5px;
    background-color: aqua;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

li a {
    display: block;
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

/*///////////////////////////////////*/
/*									 */
/*		      EVENTS		         */
/*									 */
/*///////////////////////////////////*/

.global_container .container{
    height: auto;
    border-width:4px;
    border-style: double;
    border-color:black;
}
.container h2{
    text-align: center;
}

/*///////////////////////////////////*/
/*									 */
/*		   BUTTONS ON EVENTS		 */
/*									 */
/*///////////////////////////////////*/

/*General button*/
button{
    background-color: #F2EFEF;
    border:5px;
    border-radius: 10px;
    font-family: 'Cantarell';
    padding:5px;
    transition:0.2s;
}

/*///////////////////////////////////*/
/*									 */
/*		      MEDIA QUERIES			 */
/*			    Tablet				 */
/*///////////////////////////////////*/

@media (min-width: 640px) {

.global_container{
    margin:2px;
    } 

#hidden_tab{

    }       
}

/*///////////////////////////////////*/
/*									 */
/*		      MEDIA QUERIES			 */
/*			    Computer			 */
/*///////////////////////////////////*/

@media (min-width: 1200px) {

.events{
     display: block;
    width: 100%;
    height: auto;
    }

.global_container{
text-align: center;
    }

.global_container .container{
    display: inline-block;
    width: 25%;
    margin: 50px;
    margin-top: 50px;
    padding:5px;
    }
#nav_bar{
    text-align: center;
    width: 50%;
    transform: translateX(72%);
    top:10px;
    }
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
        
        }
}
