/*///////////////////////////////////*/
/*									 */
/*		      NAVIGATION BAR		 */
/*									 */
/*///////////////////////////////////*/

#container_nav{
    width: 100%;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}


li a {
    display: block;
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

/*///////////////////////////////////*/
/*									 */
/*		        FORM	             */
/*									 */
/*///////////////////////////////////*/

.form{
    margin: auto;
    width: 100%;
    display: block;
}

form .field{
    margin: 5px;
    padding: 0px;
    width: 100%;
    border-radius: 5px;
    font-family: 'Cantarell', sans-serif;
    outline-style:none;
}

form{
    margin: 30px auto ;
    width: 75%;
    height: 100%;
    background-color: #ffffff;
    text-align:center;
}

/*Form validation*/

.input input:focus:invalid{
   border-color:#d45252;
   background-image: none;
   box-shadow: #d45252 0 0 5px; 
}

.input input:focus:valid{
    border-color:#009933;
    box-shadow: #009933 0 0 5px; 
 }

/*///////////////////////////////////*/
/*									 */
/*		      LEGAL NOTICE		     */
/*			    				     */
/*///////////////////////////////////*/

.Legal_Notice{
    width: 50%;
    height: auto;
    transform: translateX(50%);
    text-align: center;
}

.checkbox{
    margin: 0;
}
#accept{
    margin:5px;
}

.Legal_Notice a {
    cursor: pointer;
    color: rgba(18, 62, 207, 0.623);
    font-weight: bold;
}

.Legal_Notice a :hover {
    color: black;
}

/*///////////////////////////////////*/
/*									 */
/*		      MEDIA QUERIES			 */
/*			    Tablet				 */
/*///////////////////////////////////*/

@media (min-width: 640px) {


}

/*///////////////////////////////////*/
/*									 */
/*		      MEDIA QUERIES			 */
/*			    Computer			 */
/*///////////////////////////////////*/

@media (min-width: 1200px) {

ul {
    display: flex;
	flex-direction: row;
	justify-content: center;
    flex-wrap: wrap;
    }
}