/*///////////////////////////////////*/
/*									 */
/*		      NAVIGATION BAR		 */
/*									 */
/*///////////////////////////////////*/

/*container of navigation bar*/
#container_nav{
    width: 100%;
    margin-top: 5px;
}
/*Container of each point of navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

/*Text on point navigation bar*/
li a {
    display: block;
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
/*Point of navigation bar*/
li{
    margin:2px;
}

/*Animation on navigation bar*/
li a:hover:not(.active) {
    background-color: #ddd;
}

/*Animation on navigation bar*/
li a:hover{
    box-shadow: 6px 6px 25px 5px rgba(0, 0, 0, 0.18);
    transform: scale(1.01);
}

/*Animation on navigation bar*/
li a:active{
    box-shadow: 6px 6px 18px 2px rgba(0, 0, 0, 0.23);
    transform: scale(0.98);
}

/*///////////////////////////////////*/
/*									 */
/*		        FORM	             */
/*									 */
/*///////////////////////////////////*/
/*Settings of form */
.form{
    margin: auto;
    width: 100%;
    display: block;
}

/*Field of form*/
form .field{
    margin: 5px;
    padding: 0px;
    width: 100%;
    border-radius: 5px;
    font-family: 'Cantarell', sans-serif;
}

/*Container of form*/
form{
    margin: 30px auto ;
    width: 75%;
    height: 100%;
    background-color: #ffffff;
    text-align:center;
}

/*Field of description settings*/
#description{
    width: 100%;
    height: 100px;
    vertical-align: top;

}

/*Color of form invalidation if a field is not completed*/
.input input:focus:invalid ,textarea:focus:invalid{
    border-color:#d45252;
    box-shadow: #d45252 0 0 5px; 
 }

 /*Color of form validation if a field is not completed*/
 .input input:focus:valid ,textarea:focus:valid{
     border-color:#009933;
     box-shadow: #009933 0 0 5px; 
  }
 
/*Picture import*/
.label-file {
    cursor: pointer;
    color: rgba(18, 62, 207, 0.623);
    font-weight: bold;
}
/*Picture import animation*/
.label-file:hover {
    color: black;
}
/*Hide the default button of input*/
.input-file {
    display: none;
}

/*///////////////////////////////////*/
/*									 */
/*		      MEDIA QUERIES			 */
/*			    Tablet				 */
/*///////////////////////////////////*/

@media (min-width: 640px) {


}

/*///////////////////////////////////*/
/*									 */
/*		      MEDIA QUERIES			 */
/*			    Computer			 */
/*///////////////////////////////////*/

@media (min-width: 1200px) {

ul {
    display: flex;
	flex-direction: row;
	justify-content: center;
    flex-wrap: wrap;

    }

}
